rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /users/{userId} {
      allow read, update, delete: if request.auth != null && request.auth.uid == userId;
      allow read: if request.auth != null && request.auth.token.admin;
      allow create: if request.auth != null && request.resource.data.keys().hasOnly(["instrument", "name", "pronouns", "phoneNumber"]);
    }
    match /teachers/{document=**} {
      allow read: if request.auth != null;
    }
    match /lessons/{document=**} {
      allow read: if request.auth != null;
      allow update: if request.auth != null && resource.data.studentId == null && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["studentId"]) && request.resource.data.studentId == request.auth.uid;
      allow update: if request.auth != null && resource.data.studentId == request.auth.uid && request.resource.data.diff(resource.data).affectedKeys().hasOnly(["studentId"]) && request.resource.data.studentId == null;
      allow create, update, delete: if request.auth != null && request.auth.token.admin;
    }
  }
}